@model BookStore.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div>@Model.Products.Count()</div>
@foreach (var p in Model.Products)
{
    @Html.Partial("_ProductSummary", p)
}

<div class="btn-group pull-right">

</div>

